



<% current_user.posts.each do |post| %>

  <%= link_to post_path(post) do %>
      <article class=" m-11 border border-slate-200 dark:border-slate-800/80 rounded-none md:rounded-2xl lg:rounded-2xl pt-4 bg-white dark:bg-slate-950 flex flex-col gap-2 md:gap-3 md:pt-8 lg:p-6 lg:pb-5">
        <section class="flex flex-col gap-1 sm:gap-4">
          <div class="flex flex-col gap-5">
            <section>
              <div class="flex justify-between">        
                <div class="flex items-center gap-2">
                  <div class="flex items-center justify-center rounded-full w-8 h-8 cursor-pointer bg-sky-600 text-center text-white">
                    <%= user_initials(post.user.email) %>
                  </div>
                  <div class="flex flex-col">
                    <div class="font-bold"><%= post.user.username %></div>
                    <div>Created at <%= time_ago_in_words(post.created_at) %></div>
                  </div>
                </div>
                <% if post.status == "published" %>
                  <button class="rounded-full bg-sky-500 p-2 text-white text-sm w-24">Published</button>
                   
                <% else %>
                <div class="flex items-center gap-2">
                 <button class="rounded-full p-2 text-white text-sm w-24 bg-gray-400">Draft</button>
                     <%= link_to edit_post_path(post) do %>
                     <span class="material-symbols-outlined">
                          edit
                    </span>
                  <% end %>
            <%= button_to "Delete", post, method: :delete, class: " rounded-lg btn btn-danger" %>
                </div>
                
                <% end %>
              </div>
            </section>
          </div>
          <div class="flex w-full justify-between mt-3">
            <section class="flex flex-col">
              <div class="md:block lg:block max-w-56">
                <h1 class="font-bold lg:text-2xl md:text-2xl hn-break-words text-sm md:line-clamp-3"><%= post.title %></h1>
              </div>
              <div class="hidden md:block lg:block max-w-56">
                <span class="text-base hidden font-medium hn-break-words cursor-pointer md:line-clamp-2"><%= post.content %></span>
              </div>
            </section>
            <div class="border rounded-md object-center object-cover">
              <%= image_tag(post.image, class: "h-full lg:w-52 md:w-52 w-40")  %>
            </div>
          </div>
        </section>
      </article>
    <% end %>
<% end %>

