<div id="<%= dom_id post %>">

  <div class="w-full flex items-center flex-col mt-4  justify-center">
    <div>
      <h1 class="text-capitalize text-3xl font-bold">
        <%= post.title %>
      </h1>
    </div>

    <div class="mt-3">
      <p class="text-lg font-medium"><%= post.description %></p>
    </div>
    <div>
      <%= image_tag(post.image, class: "h-auto  max-w-full")  %>
    </div>

    <div class="mt-5">
        <p><%= post.content %></p>
    </div>
  

  <div class="flex items-center mt-4 gap-1">
  <span>View all comments</span>
  <span type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="material-symbols-outlined">
chat_bubble
</span>
  </div>
      <%= render 'posts/post_comments', post: post  %>
     </div>
  </div>
</div>
