<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= post.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= post.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Allow comments:</strong>
    <%= post.allow_comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Show likes count:</strong>
    <%= post.show_likes_count %>
  </p>

</div>
